<!-- Nav bar-->
<navbar view-selected="viewSelected"></navbar>


<!-- Home INI -->
<div class="Home">

    <!-- navbar 'home' -->
    <div class="home-view" ng-show=" viewSelected === 'home'">
        <div class="row text-center">

            <div class="col-xs-12"><i class="fa fa-home"></i></div>
            <div class="col-xs-12"><label>Home</label></div>
            <div class="col-xs-12">
                <p>Select one of the option to:</p>
                <p> 1. Start your order</p>
                <p> 2. Configure your Drive FX connection</p>
            </div>

        </div>
    </div>

    <!-- navbar 'add' -->
    <div class="panel add-view" ng-class="{'move-add-panel' : viewSelected === 'add'}">
        <div class="row"> add </div>
    </div>

    <!-- navbar 'settings' -->
    <div class="panel settings-view" ng-class="{'move-settings-panel' : viewSelected === 'settings'}">
        <div class="row"> settings </div>
    </div>

</div><!-- Home END -->
